<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.safe.asess.mapper.OrgAssessDeptMapper">

    <update id="operationDeptSubmitCount">
        update safe_assess_org_assess_dept set
        dept_submit_count = dept_submit_count + #{count},
        state = if(dept_count = dept_submit_count, '待自评', '已分配')
        where id = #{id}
        and dept_submit_count + #{count} >= 0 and dept_submit_count + #{count} &lt;= dept_count
        and state in ('已分配','待自评','已退回')
    </update>
</mapper>