<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.monitoring.mapper.MonitoringStatisticsPurchaseSaleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sydata.monitoring.entity.MonitoringStatisticsPurchaseSale">
        <result column="id" property="id" />
        <result column="statistic_id" property="statisticId" />
        <result column="purchase_sale_type" property="purchaseSaleType" />
        <result column="bill_code" property="billCode" />
        <result column="material_name" property="materialName" />
        <result column="qty" property="qty" />
        <result column="material_type" property="materialType" />
        <result column="tax_amount" property="taxAmount" />
        <result column="base_unit" property="baseUnit" />
        <result column="base_qty" property="baseQty" />
        <result column="spec" property="spec" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="region_id" property="regionId" />
        <result column="country_id" property="countryId" />
        <result column="province_id" property="provinceId" />
        <result column="city_id" property="cityId" />
        <result column="area_id" property="areaId" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="stock_house_id" property="stockHouseId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        statistic_id, purchase_sale_type, bill_code, material_name, qty, material_type, tax_amount, base_unit, base_qty, spec, create_by, create_time, update_by, update_time, region_id, country_id, province_id, city_id, area_id, enterprise_id, stock_house_id
    </sql>


    <sql id="base_from">
        from monitoring_statistics_purchase_sale AS main
    </sql>

    <sql id="base_query_condition">
        <if test="queryParam.entity != null">
            <if test="queryParam.entity.statisticId != null">

                AND main.statistic_id = #{queryParam.entity.statisticId}
            </if>
            <if test="queryParam.entity.purchaseSaleType != null">

                AND main.purchase_sale_type = #{queryParam.entity.purchaseSaleType}
            </if>
            <if test="queryParam.entity.billCode != null">

                AND main.bill_code = #{queryParam.entity.billCode}
            </if>
            <if test="queryParam.entity.materialName != null">

                AND main.material_name = #{queryParam.entity.materialName}
            </if>
            <if test="queryParam.entity.qty != null">

                AND main.qty = #{queryParam.entity.qty}
            </if>
            <if test="queryParam.entity.materialType != null">

                AND main.material_type = #{queryParam.entity.materialType}
            </if>
            <if test="queryParam.entity.taxAmount != null">

                AND main.tax_amount = #{queryParam.entity.taxAmount}
            </if>
            <if test="queryParam.entity.baseUnit != null">

                AND main.base_unit = #{queryParam.entity.baseUnit}
            </if>
            <if test="queryParam.entity.baseQty != null">

                AND main.base_qty = #{queryParam.entity.baseQty}
            </if>
            <if test="queryParam.entity.spec != null">

                AND main.spec = #{queryParam.entity.spec}
            </if>
            <if test="queryParam.entity.createBy != null">

                AND main.create_by = #{queryParam.entity.createBy}
            </if>
            <if test="queryParam.entity.createTime != null">

                AND main.create_time = #{queryParam.entity.createTime}
            </if>
            <if test="queryParam.entity.updateBy != null">

                AND main.update_by = #{queryParam.entity.updateBy}
            </if>
            <if test="queryParam.entity.updateTime != null">

                AND main.update_time = #{queryParam.entity.updateTime}
            </if>
            <if test="queryParam.entity.regionId != null">

                AND main.region_id = #{queryParam.entity.regionId}
            </if>
            <if test="queryParam.entity.countryId != null">

                AND main.country_id = #{queryParam.entity.countryId}
            </if>
            <if test="queryParam.entity.provinceId != null">

                AND main.province_id = #{queryParam.entity.provinceId}
            </if>
            <if test="queryParam.entity.cityId != null">

                AND main.city_id = #{queryParam.entity.cityId}
            </if>
            <if test="queryParam.entity.areaId != null">

                AND main.area_id = #{queryParam.entity.areaId}
            </if>
            <if test="queryParam.entity.enterpriseId != null">

                AND main.enterprise_id = #{queryParam.entity.enterpriseId}
            </if>
            <if test="queryParam.entity.stockHouseId != null">

                AND main.stock_house_id = #{queryParam.entity.stockHouseId}
            </if>
        </if>
    </sql>

    <select id="idPage" resultType="java.lang.Long">
        select distinct main.id

        <include refid="base_from" />

        <where>
            <if test="queryParam.tenantId != null">
                main.tenant_id = #{queryParam.tenantId}
            </if>

            <include refid="base_query_condition"/>

        </where>

        order by main.create_time desc
    </select>
</mapper>
