<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.organize.mapper.UserRoleMapper">

    <resultMap type="com.sydata.organize.domain.UserRole" id="userRoleResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="roleId"    column="role_id"    />
    </resultMap>

    <sql id="selectUserRoleVo">
        select id, user_id, role_id from org_user_role
    </sql>

    <insert id="insertBatchIgnore">
        insert ignore into org_user_role(id,user_id,role_id)
        <trim prefix="values " suffixOverrides=",">
            <foreach collection="list" item="t">
                (#{t.id},#{t.userId}, #{t.roleId}),
            </foreach>
        </trim>
    </insert>


</mapper>