<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.organize.mapper.UserMessageCountMapper">


    <insert id="statistics">
        insert into org_user_message_count(user_id, total_count, unread_count)
        VALUES (#{userId}, 1, 1)
        on DUPLICATE KEY UPDATE
        total_count = total_count + 1,
        unread_count = unread_count + 1
    </insert>

    <update id="read">
        update org_user_message_count set
        read_count = read_count + #{count},
        unread_count = unread_count - #{count}
        where user_id = #{userId}
        and total_count >= read_count + #{count}
        and unread_count - #{count} >= 0
    </update>
</mapper>