<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.dostrict.personnel.mapper.ApparitorFileTypeMapper">

    <resultMap type="com.sydata.dostrict.personnel.domain.ApparitorFileType" id="ApparitorFileTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="allParentId"    column="all_parent_id"    />
        <result property="remark"    column="remark"    />
        <result property="isLeafNode"    column="is_leaf_node"    />
        <result property="isEnable"    column="is_enable"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="tenantId"    column="tenant_id"    />
    </resultMap>

    <sql id="selectApparitorFileTypeVo">
        select id, type_name, parent_id, all_parent_id, remark, is_leaf_node, is_enable, del_flag, create_by, create_time, update_by, update_time, tenant_id, enterprise_id from apparitor_file_type
    </sql>
    <select id="selectFileTypeTreeList" resultType="com.sydata.common.domain.KuNode"
            parameterType="com.sydata.dostrict.personnel.param.ApparitorFileTypeParam">
        SELECT
        id `key`,
        type_name title,
        parent_id parentKey,
        all_parent_id queryKey,
        IF(is_enable = 1,0,1) disabled
        FROM apparitor_file_type mt
        WHERE mt.del_flag = '0'
        ORDER BY create_time DESC
    </select>


</mapper>