<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sydata.report.mapper.ReportQualityDayMapper">


    <update id="statistics">
        update report_quality_day
        <set>
            total = total + #{total},
            success = success + #{success},
            fail = fail + #{fail}
        </set>
        where id = #{id}
    </update>


    <select id="report" resultType="com.sydata.report.vo.ReportQualityVo">
        SELECT province_id,
        city_id,
        area_id,
        enterprise_id,
        stock_house_id,
        api_code,
        sum(total) total,
        sum(success) success,
        sum(fail) fail,
        round(sum(success) / sum(total),2) * 100 success_rate,
        round(sum(fail) / sum(total),2) * 100 fail_rate
        FROM report_quality_day
        <where>
            days = #{param.days}
            <if test="param.provinceId != null and param.provinceId != ''">
                and province_id = #{param.provinceId}
            </if>
            <if test="param.cityId != null and param.cityId != ''">
                and city_id = #{param.cityId}
            </if>
            <if test="param.areaId != null and param.areaId != ''">
                and area_id = #{param.areaId}
            </if>
            <if test="param.enterpriseId != null and param.enterpriseId != ''">
                and enterprise_id = #{param.enterpriseId}
            </if>
            <if test="param.stockHouseId != null and param.stockHouseId != ''">
                and stock_house_id = #{param.stockHouseId}
            </if>
        </where>
        GROUP BY
        <if test="param.partition == 1">
            province_id
        </if>
        <if test="param.partition == 2">
            city_id
        </if>
        <if test="param.partition == 3">
            area_id
        </if>
        <if test="param.partition == 4">
            enterprise_id
        </if>
        <if test="param.partition == 5">
            stock_house_id
        </if>

        <if test="param.details != null and param.details">
            ,api_code
        </if>
    </select>
</mapper>